body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  rigth: 0;

}


a {
  text-decoration: none;
  display: inline;
  color: black;
  width: 100%;

}
header {
  width: 100vh;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.header-icons-container {
  width: 100vw;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
.header-icons-container .icons {
  width: 350px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

.icons a {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}
nav .profile-link {
  display: grid;
  align-items: center;
  margin-right: 50px;
  justify-content: flex-end;
}
nav .profile-link a {
  border-bottom: 1px solid black;
  color: black;

}
nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
